.empty {
  display: flex;
  height: 12rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-8);
  color: var(--muted-foreground);
}

.emptyIcon {
  height: 2rem;
  width: 2rem;
}
