.root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--space-96);
}

.text {
  font-size: var(--text-sm);
  line-height: var(--text-sm-leading);
  color: var(--muted-foreground);
}
