.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-16);
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.title {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl-leading);
  font-weight: var(--weight-semibold);
}

.description {
  color: var(--muted-foreground);
  font-size: var(--text-sm);
  line-height: var(--text-sm-leading);
}
